---
title: Presentation
layout: page
permalink: /Presentations/
---
<h1>Presentations</h1>
{% for post in paginator.posts %}

  <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
  <h4><small>{{ post.date | date_to_long_string }}</small></h4>
  {{ post.description }}
  <hr />
{% endfor %}

{% if paginator.previous_page %}
<a style="float:left;" href="{{ paginator.previous_page_path }}">Previous</a>
{% endif %}
{% if paginator.next_page %}
<a style="float:right;" href="{{ paginator.next_page_path }}">Next</a>
{% endif %}
