---
layout: page
title: 日本語
excerpt: "Japanese part of my blog."
search_omit: true
image:
  feature: japanese_bg.jpg
  credit: MwTours
  creditlink: http://www.mwtravel.com.au/2017-15-days-cherry-blossom-and-garden-tour/
---

<ul class="post-list">
{% for post in site.categories.japanese %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
