<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div id="navigation" class="clearfix">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/talks">Presentations</a>
    <a href="/projects">Projects</a>
    <a href="/resume">Resume</a>
  </div>

  {{ content }}

  <div style="clear:both;"></div>
  <div class="poweredby">
      <a href="/legal">Legal</a> &#8226;
      <a href="/blog/rss.xml">RSS</a>
  </div>
  </body>
</html>
