<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }} &#8226; {{ site.name }}</title>

    <!-- Reveal.JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/lib/js/head.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/js/reveal.js"></script>

    <!-- Main Reveal.JS Style -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/css/reveal.min.css">

    <!-- Reveal.JS Theme -->
    {% if page.theme %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/css/theme/{{page.theme}}.min.css">
   {% else %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/css/theme/solarized.min.css">
    {% endif %}

    <!-- Highlight.JS Syntax Style -->
    {% if page.highlight %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/{{page.highlight}}.min.css">
    {% else %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/zenburn.min.css">
    {% endif %}

  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        {{ content }}
      </div>
    </div>

    <script>
      Reveal.initialize({

      // Display controls in the bottom right corner
      controls: true,

      // Display a presentation progress bar
      progress: true,

      // Display the page number of the current slide
      slideNumber: false,

      // Push each slide change to the browser history
      history: false,

      // Enable keyboard shortcuts for navigation
      keyboard: true,

      // Enable the slide overview mode
      overview: true,

      // Vertical centering of slides
      center: true,

      // Enables touch navigation on devices with touch input
      touch: true,

      // Loop the presentation
      loop: false,

      // Change the presentation direction to be RTL
      rtl: false,

      // Turns fragments on and off globally
      fragments: true,

      // Flags if the presentation is running in an embedded mode,
      // i.e. contained within a limited portion of the screen
      embedded: false,

      // Flags if we should show a help overlay when the questionmark
      // key is pressed
      help: true,

      // Number of milliseconds between automatically proceeding to the
      // next slide, disabled when set to 0, this value can be overwritten
      // by using a data-autoslide attribute on your slides
      autoSlide: 0,

      // Stop auto-sliding after user input
      autoSlideStoppable: true,

      // Enable slide navigation via mouse wheel
      mouseWheel: false,

      // Hides the address bar on mobile devices
      hideAddressBar: true,

      // Opens links in an iframe preview overlay
      previewLinks: false,

      // Transition style
      transition: 'default', // none/fade/slide/convex/concave/zoom

      // Transition speed
      transitionSpeed: 'default', // default/fast/slow

      // Transition style for full page slide backgrounds
      backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom

      // Number of slides away from the current that are visible
      viewDistance: 3,

      // Parallax background image
      parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

      // Parallax background size
      parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

      // Amount to move parallax background (horizontal and vertical) on slide change
      // Number, e.g. 100
      parallaxBackgroundHorizontal: '',
      parallaxBackgroundVertical: '',

      dependencies: [
        // Interpret Markdown in <section> elements
        { src: '//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: '//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

        // Syntax highlight for <code> elements
        { src: '//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

        // Zoom in and out with Alt+click
        { src: '//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/zoom-js/zoom.js', async: true },

        // Speaker notes
        { src: '//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/notes/notes.js', async: true },

        // Remote control your reveal.js presentation using a touch device
        {% if page.remotes %}
        { src: '//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/remotes/remotes.js', async: true },
        {% endif %}

        // MathJax
        { src: '//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0/plugin/math/math.js', async: true }
      ],

      });
    </script>
  </body>
</html>
